body {
    text-align:center;
    background-color: #901e1e;
    font-weight:bold;
}

#title {
    font-family:impact;
    font-size: 100px;
    margin-top: -23px;
    margin-bottom: -20px;
}

#room1, #room2, #room3, #room4, #room5, #gameOverScreen {
    display: none;
}



.picture {
    height: 320px;
    width: 540px;
}

#inst_button {
    margin: auto;
}

#hide_inst_button {
    margin: auto;
}

#roomButtons {
    margin: auto;
}

button {
    background-color: yellow;
    border-radius: 5px;
    border-style:none;
}

.font_color {
    color: yellow;
}

#win_screen {
    display: none;
}